<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$hsb-hr-news-portal</UserName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hsb-hr-news-portal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7275a275-f931-4640-98a7-199a8b989f14/resourceGroups/hsb-hr-news-portal-rg/providers/Microsoft.Web/sites/hsb-hr-news-portal</ResourceId>
    <_SavePWD>True</_SavePWD>
    <WebJobType>Continuous</WebJobType>
    <WebJobName>HrNewsPortal.DataLoader.WebJob</WebJobName>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hsb-hr-news-portal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <DeployIisAppPath>hsb-hr-news-portal</DeployIisAppPath>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>
</Project>